body{
    margin: 0
}

.header{
    padding: 10px;
    background: #1d59a7;
}

.header-container, .header-appName{
    display: inline-block;
    height: 40px;
}

.header-container img{
    height: 40px;
}

.header-appName{
    color: white;
    font-size: 22px;
    font-weight: bold;
    vertical-align: top;
    margin-left: 10px;
    padding-top: 5px;
}

.header-logout{
    float: right;
}

.logout-btn{
    background: #ffb0b0;
    padding: 2px 5px;
    font-size: 20px;
    cursor: pointer;
    width: 90px;
    color: black;
    font-weight: bold;
    border-radius: 3px;
}

.logout-btn:hover{
    background: #ffdbdb;
    transition: 0.5s all;
    color: gray;
}

.details-title{
    color: white;
    margin-bottom: 20px;
}

.details-title span{
    font-size: 30px;
}

.header-buttons{
    float: right;
}

.select-page-container{
    display: inline-block;
}

.select-page-container span{
    background: white;
    color: black;
    margin-right: 10px;
    padding: 1px 5px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.overview-container, .chart-container{
    padding: 50px;
}

.pagination-container{
    color: white;
    background: #31404d;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.pagination-container li button{
    color: white;
}

.pagination-container li div{
    color: white;
}

.selection-container{
    color: white;
    background: #deefff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.details-container, .list-container{
    display: inline-block;
}

.list-container{
    width: 100%;
    border: 1px solid #00203d;
}

.building-list-clicked{
    background: #98ff9c;
}

.details-container{
    width: 100%;
    height: 556px;
    background: white;
    vertical-align: top;
    margin-right: 10px;
}

.details-box{
    padding-left: 20px;
}

.details-box div{
    font-family: "Roboto", sans-serif;    margin-bottom: 7px;
    margin-left: 10px;
    font-weight: bold;
}

.building-name div{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 23px;
    padding-top: 10px;
    display: inline-block;
}

.building-name button{
    padding-bottom: 13px;
    margin-right: 1px;
}

.custom_page{
    margin-top: 10px;
}
.custom_page input{
    width: 60px;
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    border: 0;
    margin: 0 0 0 5px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 16px;
}

.custom_message{
    margin-left: 10px;
    font-size: 12px;
}

.search-building-box input{
    display: inline-block;
    width: 95%;
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: rgb(176, 190, 255);
    margin: 0;
    padding: 7px;
    box-sizing: border-box;
    font-size: 16px;
    color: white;
    border: 1px solid #7c7c7c;
  }

.search-building-reset{
    width: 5%;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.search-building-reset svg{
    color: white;
}